a{
    text-decoration: none;
    font-family: 'Athiti', sans-serif;
    color: #000;
}
.container-fluid{
    padding: 0px 20px 0px 20px;
}
.carousel-item img{
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}
h1{
    font-family: 'Pattaya', sans-serif;
    color: #eb3c27;
    text-align: center;
}
h2,h3{
    font-family: 'Pattaya', sans-serif;
    color: #eb3c27;
}
body{
    background-color: #f9ebc4;
}
/*navbar*/
.navbar{
    padding: 40px 30px 30px 30px;
    background-color: transparent;
}
/* .navbar::-webkit-scrollbar{
    background-color: #f9ebc4 !important;
} */

.nav-link{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
}

.logo{
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
}
/*title*/
/* body{ 
    background: url(images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode:lighten;
} */
p{
    font-family: 'Athiti', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
}
/* i:hover{
    font-size: 45px;
    color: crimson;
} */
#title{
    background-color: #f9ebc4;
    /* background: url(images/summer.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode:lighten; */
}
.links{
    font-size: 1.1rem;
}

/*scrollable*/
#scrollable {
    background-color: #f9ebc4;
}
/*footer*/
i{
    font-size: 2rem;
    /* color: #eb3c27; */
    color: #f9ebc4;
    text-align: center;
    padding: 20px;
}
i:hover{
    transform: scale(1.2);
}
#footer{
    /* background-color: #f9ebc4; */
    background-color: #eb3c27;
    padding: 100px;
}
#footer p{
    text-align: center;
    padding: 10px;
    color: #f9ebc4;
}

#components{
    text-align: center;
    background-color: #eb3c27;
    color: white;
}
#components i{
    color: #fff;
    font-size: 2.5rem;
}
#components h3{
    color: white;
}

/*newsletter*/
#newsletter{
    text-align: center;
    background-color: #eb3c27;
    padding: 100px;
    
}
.n-text{
    color:#fff;
}
.input-group input{
    background-color: #f9ebc4;
    border: 0;
    padding-left: 5px;
    font-family: 'Athiti', sans-serif;
    border-radius: 0px;
    outline: none !important;
}

.input-group .btn{
    border-radius:0px;
    border: 0px;
    background-color: #f9ebc4;
}
/*modal*/
.modal-content{
    background-color: #f9ebc4;
}
.modal label{
    font-family: 'Athiti', sans-serif;
}
.modal input{
    border: 1px solid grey;
    padding-left: 5px;
    font-family: 'Athiti', sans-serif;
    border-radius: 0px;
    outline: none !important;
}
.modal textarea{
    border: 1px solid grey;
    padding-left: 5px;
    font-family: 'Athiti', sans-serif;
    border-radius: 0px;
}
.close-btn{
    font-size: xx-large;
}
.modal .btn{
    border-radius:0px;
    border: 0px;
    background-color: #eb3c27;
    color: #fff;
    font-family: 'Athiti', sans-serif;
}
/*ipad layouts*/
@media only screen and (device-width:768px){
   .display-1{
        padding: 150px 0px 30px 0px;
        text-align: center;
   }
   #title p{
       text-align: center;
   }
   .navbar-brand{
        display: none;
    }
   /* #scrollable{
       padding: 30px;
       
   } */
   #scrollable .text{
       padding: 50px;
       text-align: center;
       order: 2;
   }
   /* .image-box{
       display: none;
   } */
   .ch{
    background-color: #fff;
    }
   img{
    height:auto;
    width:auto;
    }
    #components{
        padding: 100px 0px;
    }
    .navbar{
        background-color: #f9ebc4;
    }
    .images{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 992px){
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        align-self: center;
        max-width: 50%;
    }
}


@media only screen and (min-device-width: 1024px){
    .display-1{
        padding: 250px 80px 0px 80px;
        font-size: 7.5rem;
    }
    #title p{
        text-align: center;
        padding: 90px;
    }
    .title-text{
        margin-bottom: 0px;
    }
    .text{
        padding: 100px 50px;
        text-align: center;
    }
    .text p{
        padding: 20px;
    }
    .images{
        padding-left: 0px;
        padding-right: 0px;
    }
    .images:hover{
        opacity: 0.7;
        transform: scale(1.02);
    }
    .image-box{
        padding: 0px 15px 0px 15px;
    }
    img{
        height:auto;
        width:auto;
    }
    #scrollable .text{
        /* padding: 100px 50px 100px 50px; */
        text-align: center;
    }
    #components{
        padding: 100px;
        text-align: center;
        background-color: #eb3c27;
        color: white;
    }
    #components i{
        color: #fff;
        font-size: 2.5rem;
    }
    #components h3{
        color: white;
    }
    .blog{
        height: 400px;
        width: 400px;
        text-align: center;
    }
    .ch{
        background-color: #fff;
    }
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
    .display-1{
        font-size: 3rem;
        padding: 50px;
        padding-top: 110px;
        padding-bottom: 30px;
        text-align: left;
    }
    #scrollable .text{
        padding: 50px;
        text-align: center;
        order: 2;
    }
    #components{
        padding: 100px 0px;
    }
    .navbar-brand{
        display: none;
    }
    .navbar{
        background-color: #f9ebc4;
    }
    .ch{
        background-color: #fff;
    }
    .image-box{
        display: none;
    }
 }

 
