a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
}
h1{
    font-family: 'Pattaya', sans-serif;
}
/* body{
    background-color: #fbe6c2;
} */
/*navbar*/
.navbar{
    padding: 40px 30px 30px 30px;
    background-color: transparent;
}
.nav-link{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
}

.logo{
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
}
@media screen and (max-width: 1025px) {
    .navbar-brand{
        display: none;
    }
    #title{
        padding-top: 200px;
    }
    .text{
        display: none;
    }
    .text-r {
        display: none;
    }
    .text-p {
        display: none;
    }
    .row{
        margin: auto;
    }
    img{
        margin-right:200px ;
    }
}
/*title*/
/* body{ 
    background: url(images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode:lighten;
} */

.display-1{
    font-size: 7rem;
    padding-bottom: 30px;
    color: #eb3c27;
}
@media screen and (max-width: 500px) {
    .display-1{
        font-size: 3rem;
        margin:20px;
    }
    #title{
        padding-top: 150px;
    }
    img{
        margin-left: 170px;
        margin-top:20px;
    }
    .text p{
        width: 200px;
        background-color: antiquewhite;
    }
    .text-r {
        display: none;
    }
    .text-p {
        display: none;
    }
    .icons{
        display: none;
    }
    #footer{
        margin: 0px;
        padding-left: 0px;
        font-size: 20px;
    }
    #footer .row{
        margin-left: 150px;
    }
}

@media screen and (min-width:1000px) {
    .display-1{
        text-align: center;
        margin-top:100px;
        font-size: 7.5rem;
        font-weight: 500;
    }
    p{
        text-align: center;
        margin:100px;
        margin-top: 70px;
    }
    #title{
        padding-top: 150px;
    }
    
}

p{
    font-family: 'Athiti', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
}
/* i:hover{
    font-size: 45px;
    color: crimson;
} */
i{
    font-size: 30px;
    color: #eb3c27;
    padding-bottom: 30px;
}
#title{
    background-color: #f9ebc4;
}
/*travel*/
#travel{
    background: url(images/t-bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode:lighten;
    padding: 150px;
}
.text{
    background-color:#fff8d9;
    border: thistle;
    padding: 50px;
}
.bottom{
    margin-top: 20px;
    margin-bottom: 0px;
}
#travel img{
    height: 250px;
    width: 250px;
    border: 5px solid white;
}
/*read*/
#read{
    background: url(images/r-bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode:lighten;
    padding: 150px;
}
.text-r{
    background-color:#faf1e6;
    border: thistle;
    padding: 50px;
}
#read img{
    height: 250px;
    width: 250px;
    border: 5px solid white;
}
/*photography*/
#photography{
    background: url(images/p-bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode:lighten;
    padding: 150px;
}
.text-p{
    background-color:#eeebdd;
    border: thistle;
    padding: 50px;
}
#photography img{
    height: 250px;
    width: 250px;
    border: 5px solid white;
}
/*footer*/
#footer{
    background-color: #f9ebc4;
    padding:30px;
}
#footer p{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

